* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    /* background-color: aqua; */
}

a {
    text-decoration: none;
}

.main-container {
    margin: 0 auto;
    height: 100%;
    max-width: 1150px;
    background-color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 2.2rem 0;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.logo {
    height: 1.725rem;
}

.title-name {
    color: #111827;
    font-size: 2rem;
    font-weight: 650;
    line-height: 2rem;
}

.nav {
    display: flex;
    justify-content: center;
    gap: 1.625rem;
}

.nav a {
    font-size: 1.05rem;
    font-weight: 550;
    color: rgb(115, 109, 109);
}

.nav a:hover {
    color: blue;
}

.contact button {
    font-size: 0.9rem;
    font-weight: 700;
    border: 1px solid rgb(142, 137, 137);
    border-radius: 0.5rem;
    color: white;
    background-color: rgb(99, 99, 201);
    padding: 0.725rem 1rem;
}

.content {
    padding: 1rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.right img {
    width: 90%;
    height: 32.5rem;
    border: 0.5px solid rgb(129, 126, 126);
    border-radius: 1rem;
}

.left {
    display: flex;
    padding: 4.5rem 0;
    flex-direction: column;
    gap: 1rem;
    animation: slideFromLeft 1s ease forwards;
}

@keyframes slideFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.left .proud {
    font-size: 1.15rem;
    color: rgb(71, 71, 213);
    font-weight: 550;
}

.left .heading {
    max-width: 80%;
    font-size: 3rem;
    font-weight: 800;
    color: #111827;
}

.para p {
    padding-top: 1rem;
    max-width: 70%;
    color: rgba(143, 137, 137, 0.997);
    font-size: 1rem;
}

.ops {
    margin-top: 1.5rem;
    display: flex;
    gap: 0.775rem;
}

.start-now {
    color: white;
    font-size: 1rem;
    background-color: rgb(99, 99, 201);
    border: 0.785px solid rgb(177, 170, 170);
    padding: 0.5rem 0.825rem;
    border-radius: 0.5rem;
}

.tour {
    color: white;
    font-size: 1rem;
    background-color: black;
    border: 0.785px solid rgb(177, 170, 170);
    padding: 0.5rem 0.825rem;
    border-radius: 0.5rem;
}

.company-container {
    text-align: center;
    margin-top: 2.7825rem;
}

.trust {
    color: #111827;
    font-weight: 900;
}

.box {
    max-width: 50%;
    margin: 0 auto;
    margin-top: 1rem;
    padding: 1rem 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 3.325rem;
    border: 1px solid rgb(207, 201, 201);
    border-radius: 0.5rem;
    background-color: rgb(217, 214, 214);
}

.google, .microsoft, .linkedin, .vectoredu {
    display: flex;
    gap: 0.5rem;
}

.vectoredu img, .google img, .microsoft img, .linkedin img {
    height: 1.25rem;
}

.section {
    margin-top: 2.5rem;
    background-color: rgb(238, 236, 236);
    display: flex;
    flex-direction: column;
}

.comp {
    margin: 0 auto;
}

.section p {
    max-width: 50%;
    margin: 0 auto;
    text-align: center;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    place-items: center;
}

.card {
    padding: 1.5rem;
    border: 0.7825px solid rgb(180, 180, 180);
    border-radius: 0.5rem;
    background-color: rgb(46, 116, 222);
    display: flex;
    flex-direction: column;
    /* justify-content: space-around;
    align-items: center; */
    text-align: center;
    height: 14rem;
    width: 65%;
    margin: 2rem;
}

.card img {
    padding: 1rem;
    height: 3rem;
    width: 3rem;
    border: 0.25px solid rgb(147, 140, 140);
    background-color: white;
    border-radius: 50%;
}

.card h3 {
    margin-top: 0.625rem;
    font-size: 1.4rem;
    color: white;
    font-weight: 800;
}

.card .p {
    margin-top: 0.625rem;
    max-width: 90%;
    color: white;
}
